<%- include ('b'); %>
	Ovo je tabela eksternih javascript dadoteka koje se koriste na ovom sajtu sa njihovim licencima i izvornim kodom
	<table id="jslicense-labels1">
		<tr>
        	<td><a href="/javascripts/msg.min.js">msg.min.js</a></td>
        	<td><a href="http://www.gnu.org/licenses/lgpl-3.0.html">LGPL3 or later</a></td>
        	<td><a href="/javascripts/msg.js">msg.js</a></td>
    	</tr>
		<tr>
        	<td><a href="https://raw.githubusercontent.com/less/less.js/master/dist/less.min.js">less.min.js</a></td>
        	<td><a href="http://apache.org/licenses/LICENSE-2.0">Apache-2.0</a></td>
        	<td><a href="https://raw.githubusercontent.com/less/less.js/master/dist/less.js">less.js</a></td>
    	</tr>
		<tr>
			<td><a href="https://raw.githubusercontent.com/mde/ejs/master/lib/ejs.js">ejs.js</a></td>
			<td><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0</a></td>
			<td><a href="https://raw.githubusercontent.com/mde/ejs/master/lib/ejs.js">ejs.js</a></td>
		</tr>
	</table>
<%- include ('b_end'); %>