<!DOCTYPE html>
<html lang="sr">
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
	<a name="top"></a>
	<nav class="navbar fixed-top">
		<ul class="mr-auto">
			<li><a class="nav-link" href="/"><img src="/images/fistmedia.svg" alt="fsit" width=70 height=49></a></li>
			<li><a class="nav-link" href="/services">Servisi</a></li>
		</ul>
		<ul class="ml-auto">
			<li><a class="nav-link" href=<%- user ? '"/users">Korisnici' : '"/login">Login' %></a></li>
			<% if (user){ -%>
				<li><a class="nav-link" href="/purchases">Narudzbine</a></li>
				Korisnik: <%= user.name.givenName %>
			<% } -%>
		</ul>
	</nav>