<!DOCTYPE html>
<html lang="sr">
<head>
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
	<nav class="navbar fixed-top">
		<a class="nav-link" href="/"><img src="/images/fistmedia.svg" alt="fsit" width=57 height=40></a>
		<a class="nav-link" href="/services">Servisi</a>
		<ul class="ml-auto">
			<li><a class="nav-link" href=<%- user ? '"/users">Korisnici' : '"/login">Login' %></a></li>
			<% if (user){ -%>
				<li><a class="nav-link" href="/purchases">Narudzbine</a></li>
				<li>Korisnik: <%= user.name.givenName %></li>
			<% } -%>
		</ul>
	</nav>