	<nav class="navbar fixed-bottom">
		<div class="nav-item">
			<a href="about" data-jslicense="1">O nama:</a><br>
			contact@fist-media.rs<br>
			060/6838240 Pozeljno SMS
		</div>
		<a class="mr-auto nav-link" href="#top">Nazad gore</a>
	</nav>
</body>
</html>