	<nav class="fixed-bottom">
		<div>
			<a href="about" data-jslicense="1">O nama:</a><br/>
			contact@fist-media.rs<br/>
			060/6838240 Pozeljno SMS
		</div>
		<div><a class="link" href="#top">Nazad gore</a></div>
	</nav>
</body>
</html>